.header {
	position: relative;
	height: 0.8rem;
	flex-shrink: 0;
	flex: none;
	display: flex;
	align-items: center;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
	div {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.back {
		width: 1rem;
		height: 0.56rem;
		flex-direction: column;
		span {
			display: block;
			width: 100%;
			height: 100%;
			text-align: center;
			padding-top: 0.1rem;
			img {
				width: 0.30rem;
				height: 0.44rem;
			}
		}
	}
	.search {
		flex: 1;
		background: rgb(255, 255, 255);
		border: 0.02rem solid #bbb;
		border-radius: 0.03rem;
		height: 0.56rem;
		img {
			width: 0.4rem;
			height: 0.32rem;
			margin-left: 0.12rem;
		}
		span {
			flex: 1;
			font-size: 0.24rem;
			color: #999;
			margin-left: 0.12rem;
		}
	}
	.menu {
		width: 0.8rem;
		height: 0.56rem;
		img {
			width: 0.4rem;
			height: 0.32rem;
		}
	}
}
